* {
    margin: 0;
    padding: 0;
}

.title {
    height: 7vh;
    background-image: url("./image/title.png");
    background-size: 100% 100%;
    line-height: 7vh;
    font-size: 30px;
    text-align: center;
    background-color: #0d2040;
    color: #00a0fe;
}

.content {
    height: 93vh;
    background-image: url("./image/background.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
}

.content-left {
    height: 93vh;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.content-center {
    height: 93vh;
    width: 40%;
    background: rgba(0, 0, 0, .2);
    margin: 0 30px;
}

.content-right {
    height: 93vh;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.garden-data {
    height: 45vh;
    width: 100%;
    background: rgba(1, 1, 1, .3);
    color: #fff;
}

.monitor-data {
    height: 45vh;
    width: 100%;
    background: rgba(1, 1, 1, .3);
    color: #fff;
}

.right-route {
    width: 20px;
    height: 20px;
    display: block;
    margin-right: -7px;
}

.garden-data-title {
    width: 100%;
    height: 20px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
}

.garden-data-title>span {
    font-size: 17px;
    margin-left: 7px;
    line-height: 20px;
}

.garden-data-detail-content {
    width: 200px;
    background-image: url("image/avgDiv.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #00a0e9;
    text-align: center;
}

.garden-data-detail-content>span {
    display: block;
    font-size: 14px;
}

.garden-data-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.monitor-video {
    margin-top: 20px;
    padding: 0 20px;
}

.video-detail {
    display: flex;
    overflow: hidden;
}

.video-scroll, .video-scroll-end {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}

.video-scroll-end>img, .video-scroll>img  {
    width: 260px;
    height: 200px;
    margin: 0 5px;
}

.realTime {
    margin-top: 20px;
}

.realTime-title {

}

.temperature {
    margin: 0 10px;
}

.temperature>span {
    display: block;
}

.temperature-detail {
    display: flex;
    justify-content: space-around;
}

.realTime-data-detail {
    display: flex;
    justify-content: space-around;
}

.rotate-detail {
    margin-top: 70px;
    width: 100%;
    height: 300px;
}

.map {
    width: 100%;
    height: 600px;
}

.map-title {
    color: #fff;
    margin: 30px 0 0 30px;
}

.map-data {
    margin-top: 30px;
}

.map-data-box {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.map-data-detail {
    height: 150px;
    width: 150px;
    background-image: url(./image/detail.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position-y: -10px;
}

.map-data-detail>span {
    display: block;
    color: #fff;
    text-align: center;
}