* {
    margin: 0;
    padding: 0;
}

.title {
    height: 7vh;
    background-image: url("./image/title.png");
    background-size: 100% 100%;
    line-height: 7vh;
    font-size: 30px;
    text-align: center;
    background-color: #0d2040;
    color: #00a0fe;
}

.content {
    height: 93vh;
    background-image: url("./image/background.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
}

.content-left {
    height: 93vh;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.content-center {
    height: 93vh;
    width: 40%;
    background: rgba(0, 0, 0, .2);
    margin: 0 30px;
}

.content-right {
    height: 93vh;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.garden-data {
    height: 45vh;
    width: 100%;
    background: rgba(1, 1, 1, .3);
    color: #fff;
}

.monitor-data {
    height: 45vh;
    width: 100%;
    background: rgba(1, 1, 1, .3);
    color: #fff;
    overflow: hidden;
}

.right-route {
    width: 20px;
    height: 20px;
    display: block;
    margin-right: -7px;
}

.garden-data-title {
    width: 100%;
    height: 20px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
}

.garden-data-title>span {
    font-size: 17px;
    margin-left: 7px;
    line-height: 20px;
}

.garden-data-scroll {
    height: 350px;
    overflow: hidden;
    margin-top: 30px;
}

.garden-data-detail-content {
    width: 200px;
    background-image: url("image/avgDiv.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #00a0e9;
    text-align: center;
}

.garden-data-detail-content>span {
    display: block;
    font-size: 14px;
}

.garden-data-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.garden-data-detail-scroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.monitor-video {
    margin-top: 20px;
    padding: 0 20px;
}

.video-detail {
    display: flex;
    overflow: hidden;
}

.video-scroll, .video-scroll-end {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}

.video-scroll-end>img, .video-scroll>img  {
    width: 260px;
    height: 200px;
    margin: 0 5px;
}

.realTime {
    margin-top: 20px;
    overflow: hidden;
}

.realTime-title {

}

.temperature {
    margin: 0 10px;
}

.temperature>span {
    display: block;
}

.temperature-detail {
    display: flex;
    justify-content: space-around;
}

/*.realTime-data-detail {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    overflow: hidden;*/
/*}*/

.rotate-detail {
    margin-top: 70px;
    width: 90%;
    height: 300px;
    margin-left: 30px;
    display: block;
}

.temperature-rotate-detail {
    margin-top: 70px;
    width: 100%;
    height: 300px;
}

.map {
    width: 100%;
    height: 600px;
}

.map-title {
    color: #fff;
    margin: 30px 0 0 30px;
}

.map-data {
    margin-top: 30px;
    padding: 0 30px;
    overflow: hidden;
}

.map-data-box {
    display: flex;
    overflow: hidden;
}

.map-data-scroll-end {
    display: flex;
    overflow: hidden;
    padding-left: 60px;
}

.map-data-scroll {
    display: flex;
    justify-content: space-around;
}

.map-data-detail {
    height: 150px;
    width: 150px;
    background-image: url(./image/detail.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position-y: -10px;
}

.map-data-detail>span {
    display: block;
    color: #fff;
    text-align: center;
}

/*.garden-scroll-container, .realTime-scroll-end {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/

.realTime-data-detail-content {

}

.realTime-data-detail-scroll {
    display: flex;
    overflow: hidden;
}

.realTime-container {
    width: 200%;
    margin-top: 6px;
    display: flex;
    overflow: hidden;
}

.realTime-scroll-container {
    overflow: hidden;
}

.realTime-scroll-end {
    overflow: hidden;
}

.realTime-scroll-detail {

}

.realTime-data-detail {
    width: 50%;
    background-image: url("image/avgDiv.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #00a0e9;
    text-align: center;
    margin-right: 30px;
}

.realTime-data {
    display: flex;
}

.map-data-scroll-detail {
    display: flex;
}

.scroll {
    width: 200%;
    margin-top: 6px;
    display: flex;
    overflow: hidden;
}


.mySlides {
    display: none
}

.mySlides:nth-child(1) {
    display: block
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}